.Friends{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 150px 250px;
    gap: 1cm;
}
header{
    grid-column: 1/3;
    background: orangered;
}
footer{
    grid-column: 1/3;
    background: green;
}
main{
    background: yellowgreen;
}
aside{
    background: lightblue;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1cm;
}
.d1{
    background-color: pink;
    text-align: center;
    padding: 20px;
}